<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,912},{21,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{21,22}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{155,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,200}}</string>
                <key>sourceSize</key>
                <string>{155,200}</string>
            </dict>
            <key>Girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,912},{19,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{19,22}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,912},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Icon_Boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,912},{-1,-1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-1,-1}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
            <key>Icon_Music B.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,912},{25,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{25,32}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>Icon_Mute.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,912},{21,24}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{21,24}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>Pit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,556},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,556},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,556},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,378},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,556},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,734},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,734},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,734},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,734},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,734},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,734},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,734},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,378},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,0},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,556},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,0},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,0},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,0},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,0},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,200},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,378},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,378},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,378},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,378},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,200},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,200},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,200},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,200},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,200},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Pit_beimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,556},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>PlayHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>button_voice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,912},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>button_voice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,912},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pack_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22854f349f86ac648371c1788e9aefe7$</string>
            <key>textureFileName</key>
            <string>Pack_1.png</string>
        </dict>
    </dict>
</plist>
